.header {
  height: 8vh;
  // max-height: 90px;
  width: 100vw;
  text-align: center;
  padding: 20px 0;
  background-color: #e1e3e9;

  .brand-img {
    height: 60px;
    padding-left: 40px;
    padding-top: 8px;
  }

  .header-center {
    display: flex;
    justify-content: center;

    .menu-item > div:nth-child(2) {
      font-size: 14px;
      line-height: 1.5;
      margin-top: 10px;
    }

    .menu-son {
      width: 64px;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 10px;
      background-color: rgb(225, 227, 233);
      border-radius: 5px;
      cursor: pointer;
      padding: 10px 8px;
      overflow: hidden;
      .menu-img {
        width: 20px;
      }

      i {
        font-size: 24px;
        color: #919191;
      }

      // box-shadow: 0px 0px 3px #c8c8c8,
      //   /*上边阴影  红色*/
      //   -3px 0px 3px #c8c8c8,
      //   /*左边阴影  绿色*/
      //   3px 0px 3px #c8c8c8,
      //   /*右边阴影  蓝色*/
      //   0px 0px 5px #c8c8c8;
      box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .menu-son:hover {
      i {
        color: #fb6601;
      }
      .menu-img {
        transform: translateY(-50px);
        filter: drop-shadow(#fb6601 0 50px);
      }
    }

    .menu-active {
      background-image: var(--bg-gradient);
      i {
        color: #fb6601;
      }
      .menu-img {
        transform: translateY(-50px);
        filter: drop-shadow(#fbe1c6 0 50px) !important;
      }
    }
  }

  .header-right {
    padding-right: 40px;
  }
}

.shadow {
  height: calc(100vh - (11.5vh + 68px));
  padding: 10px;
  background-color: #f0f1f5;
  border-radius: 5px;
  box-shadow:
    rgba(201, 221, 236, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.left {
  @extend .shadow;
  // display: Visibility;
  width: 18vw;
  overflow: scroll;
  background-image: var(--bg-gradient);
  &::-webkit-scrollbar {
    display: none;
  }

  .image {
    margin-top: 10px;
    position: relative;

    .disconnect {
      width: calc(18vw - 20px);
      height: calc(15vw - 20px);
      text-align: center;
      img {
        width: calc(15vw - 20px);
        height: calc(15vw - 20px);
      }
    }
    .image-device {
      width: calc(18vw - 20px);
      height: calc(15vw - 20px);
      text-align: center;
    }

    .image-alarm {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      top: -8px;
    }
    .image-alarm-red {
      transform: translateY(-50px);
      filter: drop-shadow(#ff0000 0 50px);
    }

    .image-alarm-green {
      transform: translateY(-50px);
      filter: drop-shadow(green 0 50px);
    }
  }

  .record-operate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      margin: 10px 0;
    }
  }
}

.record {
  display: flex;

  .record-nature {
    // width: 8vw;
    font-size: 14px;
    padding-left: 10px;

    div {
      text-align: right;
      margin: 10px 0;
    }
  }

  .record-price {
    font-size: 14px;

    div {
      max-width: 10vw;
      text-align: left;
      margin: 10px 0;
      word-break: break-all;
    }
  }
}

.summary {
  display: flex;
  flex-direction: row;

  .summary-main {
    @extend .shadow;
    width: calc(100vw - (40vw + 30px));
    margin: 0 10px;

    .ant-tabs-nav-wrap {
      border-bottom: 0.5px solid #d4d5d9;
    }
  }

  .summary-right {
    @extend .shadow;
    width: 18vw;

    & > div {
      padding: 10px 20px;
    }
  }

  .summary-graph {
    width: calc(100vw - (40vw + 30px));
    height: calc(88.5vh - (16.5vh + 68px));

    .summary-graph-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .summary-graph-labor {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

    button {
      margin: 0 10px;
    }
  }
  .summary-graph-screen {
    position: absolute;
    // width: 100%;
    bottom: 24px;
    left: 18%;
    font-size: 12px;
    transform: translate(-50%, 0);
    text-align: center;

    button {
      margin: 0 10px;
    }
  }

  .summary-chart {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    .ant-tabs-content-holder {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}

.basic {
  & > div {
    margin: 10px 0;
  }
}

.oddRow {
  background: #f0f1f5;
}

.evenRow {
  // background: #EAECF0;
  background: var(--table-bg-color);
}

.tableTitle {
  .ant-table-thead > tr > th {
    color: #000000 !important;
    background: var(--table-title-color) !important;
  }
  .ant-table-row.ant-table-row-selected > .ant-table-cell {
    background: var(--bg-right-color) !important;
  }
}

.deploy-select {
  .ant-select-selector {
    border: none !important;
    border-radius: 6px;
  }

  .deploy-span {
    padding: 0 10px;
  }
}

.deploy-select-popup {
  .rc-virtual-list-scrollbar {
    width: 2px !important;
  }

  .ant-select-item {
    padding: 5px 5px;
  }
}

.summary-analysis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f1f5;
}

.deploy-title {
  width: 100%;
  height: 47px;
  border-bottom: #d4d5d9 1px solid;
  display: flex;
  // justify-content: center;
  // align-items: center;
  & > div {
    margin-right: 32px;
    // padding-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    line-height: 3.5;
  }
  & > div:hover {
    color: var(--text-title-color);
  }
  .deploy-title-active {
    color: var(--text-title-color);
    border-bottom: var(--text-title-color) 2px solid;
  }
}
