.header {
  height: 8vh;
  // max-height: 90px;
  width: 100vw;
  text-align: center;
  padding: 20px 0;
  background-color: #e1e3e9;

  .brand-img {
    height: 7vh;
    padding-left: 40px;
    padding-top: 8px;
  }

  .header-center {
    display: flex;
    justify-content: center;

    .menu-item > div:nth-child(2) {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 10px;
    }

    .menu-son {
      width: 70px;
      height: 30px;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 10px;
      background-color: rgb(225, 227, 233);
      border-radius: 5px;
      cursor: pointer;
      padding: 10px 8px;
      overflow: hidden;
      .menu-img {
        width: 24px;
      }

      i {
        font-size: 24px;
        color: #919191;
      }

      // box-shadow: 0px 0px 3px #c8c8c8,
      //   /*上边阴影  红色*/
      //   -3px 0px 3px #c8c8c8,
      //   /*左边阴影  绿色*/
      //   3px 0px 3px #c8c8c8,
      //   /*右边阴影  蓝色*/
      //   0px 0px 5px #c8c8c8;
      box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .menu-son:hover {
      i {
        color: #fb6601;
      }
      .menu-img {
        transform: translateY(-50px);
        filter: drop-shadow(#fb6601 0 50px);
      }
    }

    .menu-active {
      background-image: var(--bg-gradient);
      i {
        color: #fb6601;
      }
      .menu-img {
        transform: translateY(-50px);
        filter: drop-shadow(#fbe1c6 0 50px) !important;
      }
    }
  }

  .header-right {
    padding-right: 40px;
  }
}

.shadow {
  height: calc(100vh - (11.5vh + 68px));
  padding: 10px;
  background-color: #f0f1f5;
  border-radius: 5px;
  box-shadow:
    rgba(201, 221, 236, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.scrollBarStyle {
  &::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    height: 8px;
    background: #ffffff;
  }
  /*定义滚动条轨道（凹槽）样式*/
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 较少使用 */
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
  }
  /*定义滑块 样式*/
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px; /* 滚动条滑块长度 */
    -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }
}

.left {
  @extend .shadow;
  @extend .scrollBarStyle;
  // display: Visibility;
  width: 18vw;
  overflow: auto;
  background-image: var(--bg-gradient);

  .image {
    margin-top: 10px;
    position: relative;

    .disconnect {
      // width: calc(18vw - 20px);
      // height: calc(15vw - 20px);
      text-align: center;
      img {
        width: 172px;
        height: 172px;
      }
    }
    .image-device {
      // width: 50px;
      // height: 150px;
      text-align: center;
      img {
        width: 67px;
        height: 172px;
      }
    }

    .image-alarm {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      top: -8px;
    }
    .image-alarm-red {
      transform: translateY(-50px);
      filter: drop-shadow(#ff0000 0 50px);
    }

    .image-alarm-green {
      transform: translateY(-50px);
      filter: drop-shadow(green 0 50px);
    }
  }

  .record-operate {
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    button {
      margin: 10px;
    }
  }
}

.record {
  display: flex;

  .record-nature {
    // width: 8vw;
    font-size: 14px;
    padding-left: 10px;

    div {
      text-align: right;
      margin: 10px 0;
    }
  }

  .record-price {
    font-size: 14px;

    div {
      max-width: 10vw;
      text-align: left;
      margin: 10px 0;
      word-break: break-all;
    }
  }
}

.summary {
  display: flex;
  flex-direction: row;

  .summary-main {
    @extend .shadow;
    @extend .scrollBarStyle;
    width: calc(100vw - (40vw + 30px));
    margin: 0 10px;

    .ant-tabs-nav-wrap {
      border-bottom: 0.5px solid #d4d5d9;
    }
  }

  .summary-right {
    @extend .shadow;
    @extend .scrollBarStyle;
    width: 18vw;
    overflow: auto;
    & > div {
      padding: 10px 20px;
    }
  }
  .analysis-right {
    @extend .shadow;
    @extend .scrollBarStyle;
    width: 18vw;
    overflow: auto;
    position: 'relative';
    z-index: 10;
    & > div {
      padding: 10px 20px;
    }
  }

  .summary-graph {
    width: calc(100vw - (40vw + 30px));
    height: calc(88.5vh - (16.5vh + 68px));

    .summary-graph-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .summary-graph-labor {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

    button {
      margin: 0 10px;
    }
  }
  .summary-graph-screen {
    position: absolute;
    // width: 100%;
    bottom: 24px;
    left: 18%;
    font-size: 16px;
    transform: translate(-50%, 0);
    text-align: center;
    button {
      margin: 0 10px;
    }
  }

  .summary-chart {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    .ant-tabs-content-holder {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

.basic {
  & > div {
    margin: 10px 0;
  }
}

.oddRow {
  background: #f0f1f5;
}

.evenRow {
  // background: #EAECF0;
  background: var(--table-bg-color);
}

.tableTitle {
  overflow: auto;
  .ant-table-thead > tr > th {
    color: #000000 !important;
    background: var(--table-title-color) !important;
  }
  .ant-table-row.ant-table-row-selected > .ant-table-cell {
    background: var(--bg-right-color) !important;
  }
  .ant-table-body {
    @extend .scrollBarStyle;
  }
  // .rc-virtual-list-scrollbar-thumb{
  //   width: 200px !important;
  // }
}

.deploy-select {
  .ant-select-selector {
    border: none !important;
    border-radius: 6px;
  }

  .deploy-span {
    padding: 0 10px;
  }
}

.deploy-select-popup {
  .rc-virtual-list-scrollbar {
    width: 2px !important;
  }

  .ant-select-item {
    padding: 5px 5px;
  }
}

.summary-analysis {
  @extend .scrollBarStyle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f1f5;
}

.deploy-title {
  width: 100%;
  height: 47px;
  border-bottom: #d4d5d9 1px solid;
  display: flex;
  // justify-content: center;
  // align-items: center;
  & > div {
    margin-right: 32px;
    // padding-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    line-height: 3.5;
  }
  & > div:hover {
    color: var(--text-title-color);
  }
  .deploy-title-active {
    color: var(--text-title-color);
    border-bottom: var(--text-title-color) 2px solid;
  }
}
.deploy-data {
  overflow: auto;
  @extend .scrollBarStyle;
  height: calc(100% - 120px);
}

.textarea-input::-webkit-scrollbar {
  display: none;
}

.history-left {
  padding-left: 4px;
  font-size: 18px;
}

// 波浪号
.tilde {
  font-size: 20px;
  margin: 0 10px;
}
.dianliang {
  display: flex;
  flex-direction: row;
  align-items: center;
  // .dianliang-img {
  //   width: 36px;
  //   height: 16px;
  //   padding-top: 4px;
  //   display: inline;
  //   // transform: translateY(-37px);
  // }
  .dianliang-span-father {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 20px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 16px;
    padding-left: 6px;
  }
  .dianliang-span {
    display: block;
    width: 6px;
    height: 10px;
    background-color: #6eb442;
    margin: 0 1px;
    border-radius: 1px;
  }
}

.analysis-table {
  @extend .scrollBarStyle;
  // height: 500px;
  padding: 14px;
  .analysis-lable {
    padding: 2px 6px;
    color: #ffffff;
    font-size: 10px;
  }
}

.dataSheetTable {
  .rc-virtual-list-scrollbar-horizontal {
    display: none !important;
  }
}

.loading-model {
  width: 300px !important;
}
.loading-spin {
  width: 200px;
  height: 200px;
  .ant-spin-text {
    font-size: 18px;
  }
}
